<h2> My Blogs </h2> 

<ul> 
    <% @blogs.each do |blog| %>
        <li> <%= link_to blog.title, blog_path(blog.id) %> </li>
    <% end %>
</ul> 




<p><%= link_to 'ADD NEW BLOG', new_blog_path %> </p>