* {
  text-align: center;
  background-color: darkseagreen;
  color: aliceblue;
}
button {
  color: aliceblue;
  background-color: black;
}
ul {
  text-align: center;
  margin: auto;
  list-style-position: inside;
}

li {
  text-align: center;
}
